<%#Import the header%>
<%- include('../templates/header'); -%>
<%#/Import the header%>

<section class="artists" id="allartists">
  <div class="container">
    <div class="home-masthead">
    <h1>Artists</h1>
    <time>Updated — Winter 2026</time>
  </div>

      <section class="fanart-image-grid">

        <%# Artists List Loop %>
        <% artistslist.forEach(function(artists) { %>
        <div class="fanart-grid-image">
        
                <a href="/fanart/artists/<%= artists.shortname %>">
                  <img class="w-100 " src="/images/artists/<%= artists.shortname %>.jpg" alt="Photo of <%= artists.shortname %>">
                </a>

                <h3><a href="/artists/<%= artists.shortname %>"><%= artists.name %></a></h3>
                <a href="/fanart/artists/<%= artists.shortname %>"><button class="btn btn-light">View Profile</button></a>
        
        </div>
        <%  }); %>
        <%# / Artists List Loop %>
      </section>

  </div>
</section>
<%#Import the footer%>
<%- include('../templates/footer'); -%>
<%#/Import the footer%>