<%# Import the header%>
<%- include('../templates/header'); -%>
<%# /Import the header%>


<section class="artists-details">
<%# Artists Details %>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/artists/<%= artists.shortname %>.jpg" class="d-block mx-lg-auto img-fluid" alt="Photo of <%= artists.title %>" width="700" height="500" loading="lazy">
      </div>
      
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-white lh-1 mb-3"><%= artists.name %></h1>
        <p class="lead"><%- artists.description %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="<%- artists.aurl %>" class="btn btn-primary btn-lg px-4 me-md-2" target="_blank">View on Social Media</a>
          <a href="#gallery" class="btn btn-outline-secondary btn-lg px-4">View Artwork</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="b-example-divider"></div>

<section class="gallery" id="gallery">
  <div class="container">
    <h1>Artwork</h1><hr />

      <div class="row"> 
                <%# Fanart %>
                <% if (fanart.reverse().length > 0) { %>
                  <%for (i=0; i < fanart.length; i ++){ %>
            <div class="col-sm-2 mb-4 ">
              <a href="/images/fanart/<%= artists.shortname %>/<%= fanart[i] %>.jpg" data-lightbox="<%= artists.shortname %>" data-title="<%= artists.shortname %>">
                    <img class="w-100" src="/images/fanart/<%= artists.shortname %>/<%= fanart[i] %>.jpg" alt="Photo of <%= fanart[i] %>" >
                </a>
              </div>
                  <%}%>
                <% }  %>
              <%# /Fanart %>
            </div>
    </div>
  </section>
        
      <%# /Artists Details %>

<%# Import the footer %>
<%- include('../templates/footer'); -%>
<%# /Import the footer %>