<%#Import the header%>
<%- include('../templates/header'); -%>
<%#/Import the header%>

<section class="sfw" id="sfw">
  <div class="container">
  <div class="fanart-masthead">
    <h1>Safe For Work</h1>
    <time>Updated — Winter 2026</time>
  </div>

      <div class="fanart-image-grid"> 
        <%# Sfw List Loop %>
          <% sfwlist.forEach(function(item) { %>
        <div class="fanart-grid-image">

              <a href="/images/sfw/<%= item.shortname %>.jpg" data-lightbox="<%= item.shortname %>" data-title="<%= item.shortname %>">
              <img class="w-100" src="/images/sfw/<%= item.shortname %>.jpg" alt="Photo of <%= item.shortname %>">
              </a>
            </div>

              <%  }); %>
              <%# / Sfw List Loop %>
            </div>
    </div>
  </section>

<%#Import the footer%>
<%- include('../templates/footer'); -%>
<%#/Import the footer%>