<%#Import the header%>
<%- include('templates/header'); -%>
<%#/Import the header%>


  <header>

    <section id="home" class="header clearfix" >
      <div class="container  ">
          <div class="overlay">
              <div class="inner-section">
                <h1>Harry and Hermione</h1>
                  <p>The Ship That Never Stops Sailing</p><br />
                    <a href="/about" size="sm" class="btn btn-primary my-sm-0 rounded-0">Get Started</a>             
              </div>
          </div>
        </div>
      </section>

    </header>


<section class="about" id="about">
<div class="container">
<h1>About Harry and Hermione</h1><hr />
  <div class="row">
    <div class="col-sm-8 ">

              <p class="body-text">
              <u>Harry and Hermione</u> is a non-for-profit, fan-created website.<br><br>
              <u>The original objective</u>: To create a website which replaces the void Portkey.org left behind as a website for fanfiction and forum for discussion based solely on the Harry/Hermione pairing.<br><br>
              <a href="/fanfiction">Fanfiction</a>: Was to be a place where authors could post their HHR stories.<br><br>
              The stories would be sorted by readers using a search function similar to what porkey and the archive have (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).<br><br>
              <a href="/fanart">Fanart</a>: A section called the “Gallery” would be dedicated to posting fan art and where artists can receive comments for their work<br><br>
              <u>Forum</u>: As the spiritual successor of the portkey website, we would also try to emulate the forum and its subsections within our own forum.
              The forum is designed for a variety of discussion that can be had under different topics: a general welcome section with FAQ, announcements,
              and introduction, a shipping subsection where users could focus on discussions centered around the main Harry/Hermione and any minor ships such
              as Lily/James and discuss canon/headcanons etc, a subsection dedicated to fanfiction whether it be finding specific fanficton, recommendations,
              discussing your favorites, or writing your own and discussing with other readers/writers, a subsection dedicated to general talk regarding the
              Harry Potter fandom that does not relate to the Harry/Hermione pairing, and a subsection for offtopic conversation where users can discuss personal
              or miscellaneous subjects.<br><br>
              Unforunately, due to unforseen technical difficulties and lack of knowhow, not everything has worked. The site is what it is, it has it's own identity now.<br><br>
              Hopefully, even if one person finds joy from it, or looks at it through rose-coloured glasses, it will have been all worth it.<br>
              Additionally, once you have had a look around, and if by chance you like what you see, or if you have some suggestions as to what could be done better, feel free to leave a comment here: <a href="/feedback"><u>Feedback</u></a>.<br>
          </p>
    </div>

    <div class="col-sm-4 my-3">
        <img src="../images/aboutpage/about.jpg" class="img-fluid w-100">
    </div>
  </div>
</div>
</section>



  <%#List of writers%>
  <section class="writers  clearfix" id="writers">
    <div class="container">
      <h1>Writers</h1> <hr />
      <div class="row">
      <%# writers List Loop %>
        <% writerslist.splice(0, 8).forEach(function(item) { %>
        <div class="col-sm-3 text-center my-3">
          <h3><%= item.title %></h3>
          <h5> AKA
            <a href="/fanfiction/writers/<%= item.shortname %>"><%= item.name %></a>
          </h5>
          <p>
            <a href="/fanfiction/writers/<%= item.shortname %>">
              <img class="w-100 " src="./images/writers/<%= item.shortname %>.jpg" alt="Photo of <%= item.shortname %>">
            </a>
            </a>
            </a>
          </p>
        </div>
        <%  }); %>
      <%# /writers List Loop %>
      </div>
    </div>
  </section>
  <%#/List of writers%>

    <%#List of artists%>
  <section class="artists  clearfix" id="artists">
    <div class="container">
      <h1>Artists</h1> <hr />
      <div class="row">
      <%# artists List Loop %>
        <% artistslist.splice(0, 8).forEach(function(item) { %>
        <div class="col-sm-3 text-center my-3">
          <h3><%= item.title %></h3>
          <h5> AKA
            <a href="/fanart/artists/<%= item.shortname %>"><%= item.name %></a>
          </h5>
          <p>
            <a href="/fanart/artists/<%= item.shortname %>">
              <img class="w-100 " src="./images/artists/<%= item.shortname %>.jpg" alt="Photo of <%= item.shortname %>">
            </a>
            </a>
            </a>
          </p>
        </div>
        <%  }); %>
      <%# /artists List Loop %>
      </div>
    </div>
  </section>
  <%#/List of artists%>

    <%#List of Gamers%>
  <section class="gamers  clearfix" id="gamers">
    <div class="container">
      <h1>Gamers</h1> <hr />
      <div class="row">
      <%# Gamers List Loop %>
        <% gamerslist.forEach(function(item) { %>
        <div class="col-sm-3 text-center my-3">
          <h3><%= item.title %></h3>
          <h5> AKA
            <a href="/gamers/<%= item.shortname %>"><%= item.name %></a>
          </h5>
          <p>
            <a href="/gamers/<%= item.shortname %>">
              <img class="w-100 " src="./images/gamers/<%= item.shortname %>.jpg" alt="Photo of <%= item.shortname %>">
            </a>
            </a>
            </a>
          </p>
        </div>
        <%  }); %>
      <%# /Gamers List Loop %>
      </div>
    </div>
  </section>
  <%#/List of Gamers%>


<%#Import the footer%>
<%- include('templates/footer'); -%>
<%#/Import the footer%>