<%# Import the header%>
<%- include('templates/header'); -%>
<%# /Import the header%>

<section class="projects-details" id="projectsdetails">
  <div class="container">
      <%# Projects Detail %>

      <h1><%= projectsDetail.title %></h1><hr />
            <div class="row">
              <div class="col-sm-3">
                <a href="./<%= projectsDetail.shortname %>">
                  <img class="w-100" src="<%= projectsDetail.image %>" alt="Photo of <%= projectsDetail.title %>" />
                  </a>


              </div>

              <div class="col-sm-6 ">
                <p class="text-justify"><%- projectsDetail.description %></p>
              </div>



            </div>
            
          </section>



<%# /Projects Detail %>


<%# Import the footer %>
<%- include('templates/footer'); -%>
<%# /Import the footer %>