<%# Import the header%>
<%- include('../templates/header'); -%>
<%# /Import the header%>

<section class="writers-details">
<%# Writers Details %>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/writers/<%= writers.shortname %>.jpg" class="d-block mx-lg-auto img-fluid" alt="Photo of <%= writers.title %>" width="700" height="500" loading="lazy">
      </div>
      
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-white lh-1 mb-3"><%= writers.name %></h1>
        <p class="lead"><%- writers.description %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="<%- writers.aurl %>" class="btn btn-primary btn-lg px-4 me-md-2" target="_blank">View on Ao3</a>
          <a href="<%- writers.furl %>" class="btn btn-primary btn-lg px-4 me-md-2" target="_blank">View on Ffnet</a>
          <a href="#gallery" class="btn btn-outline-secondary btn-lg px-4">View Stories</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="b-example-divider"></div>

<section class="gallery" id="gallery">
  <div class="container">
    <h1>Stories</h1><hr />

      <div class="row"> 
                <%# Stories %>
                <% if (stories.reverse().length > 0) { %>
                  <%for (i=0; i < stories.length; i ++){ %>
            <div class="col-sm-2 mb-4 ">
              <a href="/images/stories/<%= writers.shortname %>/<%= stories[i] %>.jpg" data-lightbox="<%= writers.shortname %>" data-title="<%= writers.shortname %>">
                    <img class="w-100" src="/images/stories/<%= writers.shortname %>/<%= stories[i] %>.jpg" alt="Photo of <%= stories[i] %>" >
                </a>
              </div>
                  <%}%>
                <% }  %>
              <%# /Stories %>
            </div>
    </div>
  </section>
        
      <%# /Writers Details %>


        
<%# Import the footer %>
<%- include('../templates/footer'); -%>
<%# /Import the footer %>